*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.common{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.banner {
    position: relative;
    margin-top: 100px;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.banner-content .getStart {
    position: relative;
    margin-left: 20%;
    margin-top: 0px;
    height: 60px;
    width: 250px;
    font-size: 30px;
    background-color: #08BD80;
    border: none;
}

.getStart a{
    text-decoration: none;
    color: white;
}

.getStart:hover{
    transform: scale(1.1);
    background-color: #ffcc00;
    color: #000;
    border-radius: 12px;
}

.banner-content {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.course{
    height: 50px;
    width: 150px;
    background-color: white;
    font-size: larger;
    color: black;
    margin: 0px 40px;
    border: none;
    border-radius: 12px;
    gap: 20px;
}

.course:hover{
    border: 1px solid black;
    transform: scale(1.1);
}

.side{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.icon {
  background-color: rgb(62, 137, 183);
  border-radius: 12%;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 0rem;
  margin-left: 10px;
}

.icon a{
  color: white;
  text-decoration: none;
}

.icon:hover {
  background-color: #ffcc00;
  color: #000;
}

/* =========================================== Mega Drop Down =========================================== */

.mega-dropdown:hover .mega-menu {
    display: block;
}

.mega-menu {
    width: 800px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    border-radius: 12px;
}

.mega-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.mega-title p{
    font-size: 15px;
    color: gray;
}

.mega-menu .col-8 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 10px !important;
    padding: 10px !important;

    align-content: start !important;  
    row-gap: 10px !important;         
    grid-auto-rows: min-content;     
}

.mega-box {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    height: 80px;

    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 18px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0 !important; 
}

.mega-box .icon {
    background: #e9f6ff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b82f6;
}

.mega-menu .col-8 > * {
    margin: 0 !important;
}

/* ============================================== Stats Box =========================================== */

.stats-box {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    padding: 40px 20px;
    background: #FFF4E6; 
    text-align: center;
    position: relative;
    overflow: hidden;  
    transition: 0.3s ease;
    box-shadow: 0 0 12px rgba(0,0,0,0.05);
}

.stats-box:hover {
    transform: translateY(-5px);
}

.stats-box h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stats-box p {
    font-size: 20px;
    margin-bottom: 20px;
}

.stats-box .emoji {
    width: 120px;
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s ease;
}

.stats-box:hover .emoji {
    bottom: 2px; 
    opacity: 1;
}

.veiwMore{
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: #08BD80;
    border: none;
    margin-left: 40%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.veiwMore a{
    text-decoration: none;
    color: white;
}

.veiwMore:hover{
    transform: scale(1.1);
    background-color: #ffcc00;
    color: #000;
    border-radius: 12px;
}

/* ============================================ Offline Center =========================================== */

.Centers_back {
    position: relative;
    margin-top: 80px;
}

.Centers_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(0.5);
}

.Centers_img:hover{
    transform: scale(1.1);
}

.center_content {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    background: #fff;
    padding: 40px 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 600;
}

.cities {
    background: #fff;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #eee;
    text-align: center;
    transition: 0.3s ease;
}

.cities img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    background-size: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.cities p{
    font-size: 25px;
    font-weight: 500;
}

.cities:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* ====================================================== Slider =========================================== */
.full-slider-section {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 20px 0; 
    margin: 0;
}

.slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.slider-track {
    display: flex;
    gap: 40px;
    animation: scroll 25s linear infinite;
    width: calc(200%); 
}

.slide {
    display: flex;
    align-items: center;
    background: #fff6e6;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    min-width: 350px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.slide img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.slide h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.slide p {
    margin: 0;
    font-size: 0.9rem;
    margin-top: 3px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.footer-container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.left {
    width: 30%;
}

.left p {
    margin: 12px 0;
    font-size: 16px;
}

.social_icons i {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 12px;
}

.right {
    width: 70%;
}

.footer-row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.footer-row .col h3 {
    color: #3b82f6;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-row ul {
    padding: 0;
    list-style: none;
}

.footer-row li:hover {
    color: #08BD80;
}

.review-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -30px;  
    left: -30px; 
    border: 4px solid white;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/* ======================================== Mobile Responsive Changes =========================================== */

@media (max-width: 768px) {
    .banner-content .getStart {
        width: 160px;
        height: 40px;
        font-size: 18px;
        padding: 6px 20px;
    }

    .navbar-toggler {
        position: absolute;
        left: 15px;
        top: 20px;
    }

    .navbar-brand {
        margin-left: 50px !important;
        font-size: 20px !important; 
    }

    .navbar-toggler {
        position: absolute;
        left: 10px;
    }

    .icon{
        font-size: 12px;
    }

    .emotion{
        font-size: smaller;
    }

    .stats-box{
        height: 160px;
        width: 160px;
    }
    .stats-box h2{
        font-size: 25px;
    }
    .stats-box p{
        font-size: 20px;
    }

    .card{
        height: 50px;
        width: 160px;
        gap: 5px;
    }

    .avail{
        font-size: 16px !important;
    }

    .cities p{
        font-size: 20px;
    }

    .veiwMore{
        height: 50px;
        width: 150px;
    }

    .slider-track {
        gap: 20px;
        animation-duration: 15s;
    }

    .slide {
        min-width: 260px;
        padding: 15px;
    }

    .slide img {
        width: 60px;
        height: 60px;
    }

    .review{
        height: 30px;
        width: 160px;
        font-size: 10px;
    }

    .copyright , .terms{
        font-size: 10px;
    }

    .footer-container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 30px;
    }

    .footer-row {
        display: contents;
    }
}

@media (max-width: 600px) {
    .right {
        grid-template-columns: repeat(2, 1fr);
    }
}
